<footer class="p-4 bg-white md:p-8 lg:p-10 test:bg-gray-800">
  <div class="mx-auto max-w-screen-xl text-center">
    <a
      href="/"
      class="flex justify-center items-center text-2xl font-semibold text-gray-900 test:text-white"
    >
      <img
        src="/img/logos/hint-lg.svg"
        class="mr-2 h-8"
        alt="Hint"
      />  
    </a>
    <ul
      class="flex flex-wrap justify-center items-center my-6 text-gray-900 test:text-white"
    >
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6">Top</a>
      </li>
      <li>
        <a href="/" class="mr-4 hover:underline md:mr-6">Home</a>
      </li>
      <li>
        <a href="/profile" class="mr-4 hover:underline md:mr-6">Profile</a>
      </li>
      <li>
        <a href="/logout" class="mr-4 hover:underline md:mr-6">Log out</a>
      </li>
    </ul>
    <span class="text-sm text-gray-500 sm:text-center test:text-gray-400"
      >© 2024-2025 <a href="#" class="hover:underline">Hint</a>. All Rights
      Reserved.</span
    >
  </div>
</footer>
