<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/tailwind.css">
    <style>
      @import url('https://fonts.cdnfonts.com/css/montserrat');
          
      * {
          font-family: 'Montserrat', sans-serif !important;
      }
    </style>
</head>
<body>
    <%- include('partials/header') %>

    
    <!-- <script src="../node_modules/flowbite/dist/flowbite.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <%- include('partials/footer') %>
</body>
</html>
